# Pandas-GBQ

`pandas-gbq` allows you to interact directly with Google Cloud Platform (GCP) BigQuery through automatically downloading and importing data into pandas.

`pandas-gbq` is included in the pandas API so you don't need to import it as a package however you do need to isntall the base `pandas-gbq` package in order for the pandas functionality to work. You can do this via either:
* `pip install pandas-gbq`
* `conda install pandas-gbq`

In this example we'll be interacting with open BigQUery datasets so there is no need to authenticate. If you need to use datasets that require authentication, check the the section at the end.

## Pandas Options

In [12]:
import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## 1. Simple Interaction with BigQuery in pandas

Magic commands are special commands that can help you with running and analyzing data in your notebook. They add a special functionality that is not straight forward to achieve with python code or jupyter notebook interface.

Magic commands are easy to spot within the code. They are either proceeded by `% `if they are on one line of code or by `%%` if they are written on several lines.

You can use the `%load_ext` command the load in Jupyter magic. Here, we load in Jupyter Magic for BigQuery:

In [1]:
%load_ext google.cloud.bigquery

We can then write a SQL query using the `%%bigquery` magic command to create a pandas dataframe and assign the output to the `df` object as follows:

In [14]:
%%bigquery df

SELECT * FROM `pandas-hacks.fire_brigade.service_calls`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 1144.11query/s]
Downloading: 100%|██████████| 32247/32247 [00:03<00:00, 9512.19rows/s]

In [15]:
df.head(5)

   incident_number date_of_call  cal_year time_of_call  hour_of_call         timestamp_of_call incident_group stop_code_description special_service_type property_category                                property_type                             address_qualifier postcode_full postcode_district borough_code    borough_name    proper_case  ward_code       ward_name  ward_name_new  easting_m  northing_m  easting_rounded  northing_rounded            frs incident_station_ground  first_pump_arriving_attendance_time first_pump_arriving_deployed_from_station  second_pump_arriving_attendance_time second_pump_arriving_deployed_from_station  num_stations_with_pumps_attending  num_pumps_attending
0  033152-19032017   2017-03-19      2017     14:09:14            14 2017-03-19 14:09:14+00:00           Fire        Secondary Fire                 None           Outdoor                                  Tree scrub   Open land/water - nearest gazetteer location      RM15 6RL              RM15    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 557845.000  180497.000           557850            180450  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
1  034685-23032017   2017-03-23      2017     03:15:54             3 2017-03-23 03:15:54+00:00           Fire        Secondary Fire                 None           Outdoor                                   Wasteland   Open land/water - nearest gazetteer location      CM13 3JJ              CM13    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 558977.000  188473.000           558950            188450  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              4.000                4.000
2  043965-10042017   2017-04-10      2017     14:52:13            14 2017-04-10 14:52:13+00:00           Fire        Secondary Fire                 None           Outdoor                                   Heathland   Open land/water - nearest gazetteer location       DA1 2PN               DA1    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 552218.000  173317.000           552250            173350  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
3  044075-10042017   2017-04-10      2017     18:20:10            18 2017-04-10 18:20:10+00:00           Fire        Secondary Fire                 None           Outdoor                                  Scrub land   Open land/water - nearest gazetteer location       UB9 5BW               UB9    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 504537.000  186262.000           504550            186250  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
4  049713-21042017   2017-04-21      2017     19:17:09            19 2017-04-21 19:17:09+00:00           Fire        Secondary Fire                 None           Outdoor  Domestic garden (vegetation not equipment)               On land associated with building       IG7 6PE               IG7    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 543731.000  193191.000           543750            193150  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              2.000                2.000

## 2. Programatic Interaction with BigQuery in Pandas

One drawback of Jupyter magic is that it won't work outside of notebooks so if you want to refactor your code into .py files it won't work. However we can use pandas to interact with Bigquery directly as follows:

In [9]:
import pandas as pd

In [17]:
query = """
    SELECT * FROM `pandas-hacks.fire_brigade.service_calls`
"""

df = pd.read_gbq(query=query)

In [18]:
df.head()

   incident_number date_of_call  cal_year time_of_call  hour_of_call         timestamp_of_call incident_group stop_code_description special_service_type property_category                                property_type                             address_qualifier postcode_full postcode_district borough_code    borough_name    proper_case  ward_code       ward_name  ward_name_new  easting_m  northing_m  easting_rounded  northing_rounded            frs incident_station_ground  first_pump_arriving_attendance_time first_pump_arriving_deployed_from_station  second_pump_arriving_attendance_time second_pump_arriving_deployed_from_station  num_stations_with_pumps_attending  num_pumps_attending
0  033152-19032017   2017-03-19      2017     14:09:14            14 2017-03-19 14:09:14+00:00           Fire        Secondary Fire                 None           Outdoor                                  Tree scrub   Open land/water - nearest gazetteer location      RM15 6RL              RM15    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 557845.000  180497.000           557850            180450  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
1  034685-23032017   2017-03-23      2017     03:15:54             3 2017-03-23 03:15:54+00:00           Fire        Secondary Fire                 None           Outdoor                                   Wasteland   Open land/water - nearest gazetteer location      CM13 3JJ              CM13    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 558977.000  188473.000           558950            188450  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              4.000                4.000
2  043965-10042017   2017-04-10      2017     14:52:13            14 2017-04-10 14:52:13+00:00           Fire        Secondary Fire                 None           Outdoor                                   Heathland   Open land/water - nearest gazetteer location       DA1 2PN               DA1    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 552218.000  173317.000           552250            173350  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
3  044075-10042017   2017-04-10      2017     18:20:10            18 2017-04-10 18:20:10+00:00           Fire        Secondary Fire                 None           Outdoor                                  Scrub land   Open land/water - nearest gazetteer location       UB9 5BW               UB9    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 504537.000  186262.000           504550            186250  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              1.000                1.000
4  049713-21042017   2017-04-21      2017     19:17:09            19 2017-04-21 19:17:09+00:00           Fire        Secondary Fire                 None           Outdoor  Domestic garden (vegetation not equipment)               On land associated with building       IG7 6PE               IG7    E00000000   NOT GEO-CODED  Not geo-coded  E00000000   Not geo-coded  Not geo-coded 543731.000  193191.000           543750            193150  OverTheBorder           OverTheBorder                                  NaN                                      None                                   NaN                                       None                              2.000                2.000

There are also further keyword arguments you can use, for example to use the BigQuery storage API. You can refer to the [Pandas read_gbq](https://pandas.pydata.org/docs/reference/api/pandas.read_gbq.html) API reference to see a full list.

## 3. The Official Google way of Interacting with BigQuery in Pandas

The official Google way, documented as part of their guidance is a lot more verbose. I would only recommend using this if either of the above ways does not work

## Notes

Python isn't a strongly typed language, in that you don't have to assign types to objects. Pandas follows this convention, meaning that dataframes can contain a mixture of types in the individual cells. You can also assign types to

## Further Reading

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32247 entries, 0 to 32246
Data columns (total 32 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   incident_number                             32247 non-null  object
 1   date_of_call                                32247 non-null  datetime64[ns]
 2   cal_year                                    32247 non-null  int64
 3   time_of_call                                32247 non-null  object
 4   hour_of_call                                32247 non-null  int64
 5   timestamp_of_call                           32247 non-null  datetime64[ns, UTC]
 6   incident_group                              32247 non-null  object
 7   stop_code_description                       32247 non-null  object
 8   special_service_type                        10081 non-null  object
 9   property_category                           32247 non-null  object
 10  property_type                               32247 non-null  object
 11  address_qualifier                           32247 non-null  object
 12  postcode_full                               16836 non-null  object
 13  postcode_district                           32247 non-null  object
 14  borough_code                                32247 non-null  object
 15  borough_name                                32247 non-null  object
 16  proper_case                                 32247 non-null  object
 17  ward_code                                   32247 non-null  object
 18  ward_name                                   32247 non-null  object
 19  ward_name_new                               32247 non-null  object
 20  easting_m                                   16836 non-null  float64
 21  northing_m                                  16836 non-null  float64
 22  easting_rounded                             32247 non-null  int64
 23  northing_rounded                            32247 non-null  int64
 24  frs                                         32247 non-null  object
 25  incident_station_ground                     32247 non-null  object
 26  first_pump_arriving_attendance_time         30428 non-null  float64
 27  first_pump_arriving_deployed_from_station   30428 non-null  object
 28  second_pump_arriving_attendance_time        11966 non-null  float64
 29  second_pump_arriving_deployed_from_station  11966 non-null  object
 30  num_stations_with_pumps_attending           32179 non-null  float64
 31  num_pumps_attending                         32179 non-null  float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(6), int64(4), object(20)
memory usage: 7.9+ MB

* [Jupyter Magic for BigQuery](https://googleapis.dev/python/bigquery/latest/magics.html)
* [Pandas read_gbq](https://pandas.pydata.org/docs/reference/api/pandas.read_gbq.html)